/*GLOBAL*/
body {
    font-family: 'Zilla Slab', serif;
}
.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}
.button {
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: .6rem 3.5rem;
    color: white;
    text-decoration: none;
    text-align: center;
}
.button_small {
    padding: .3rem 1.5rem;
    opacity: .5;
}
.button_highlight {
    background: #7A7AAB;
}


/*BANNER*/
#banner{
    background-image: url(../images/banner_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    padding: 2rem 0;
}
#logo{
    color:#7A7AAB;
    font-weight: 700;
    font-size: 1.35rem;
    float: left;
    margin: 0;
    background-color: #3A3664;
    /* border-radius: 50%;
    height: 50px;
    width: 50px; */
}
nav {
    float: right;
}
a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2rem;
}
.content {
    padding: 2rem 0 6rem 0;
}
.title, .sub_title {
    color: #7A7AAB;
    text-align: center;
}
.title {
    font-size: 3.5rem;
    margin: 0;
}
.sub_title {
    font-weight: 400;
    font-size: 1.35rem;
    width: 500px;
    margin: 0 auto 2rem auto;
}
.button_wrapper {
    text-align: center;
    margin: 3rem 0;
}